{% extends "main/index.html" %}

{% block content %}

<center>
  <h1> Independent Sources</h1>
  <center>
  <h2>
    <p style="color:red;">DISCLAIMER</p>
  </h2>
  <p>These sources are from independent journalists. While they claim to be centrist and unbiased, the News Crew will not make declarations regarding their political leanings. Much of their content revolves around global conflict that may be inherently violent, graphic and disturbing in nature.<font color="#FF0000"> Viewer discretion is advised.</font>
  </p>
</center>
</center>
<div class="row">
<div class="column" style="background-color: #3467eb;">
  <center>
  <h2>Atlas News</h2>
  </center>
  <center>
  <p><!-- start sw-rss-feed code --> 
  <rssapp-wall id="4mSkqkEpft1rJuaD"></rssapp-wall><script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script>
  </p>
  </center>
</div>
<div class="column" style="background-color:#ccc;">
  <center>
  <h2>Donbas Frontliner</h2>
  <p><!-- start sw-rss-feed code --> 
  <rssapp-wall id="HzGkL0nEY1Ys0umi"></rssapp-wall><script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script>
  </p>
  </center>
</div>
<div class="column" style="background-color:#B33F40;">
  <center>
  <h2>POPULAR FRONT</h2>
  
  <p><!-- start sw-rss-feed code --> 
  <rssapp-wall id="HdduDqmzGNNqyIut"></rssapp-wall><script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script>
<!-- end sw-rss-feed code --></p>
  </center>
 </div>

{% endblock %}