{% extends "main/index.html" %}

{% block content %} 	

<center>
  <h1> INTERNATIONAL STORIES</h1>
</center>
<div class="row">
<div class="column" style="background-color: #3467eb;">
  <center>
  <h2>Left-Leaning Sources</h2>
  </center>
  <center>
  <p><!-- start sw-rss-feed code --> 
 <rssapp-wall id="ffa7LE67MeeYK0uH"></rssapp-wall><script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script> 
  </p>
  </center>
</div>
<div class="column" style="background-color:#ccc;">
  <center>
  <h2>Centrist Sources</h2>
  <p><!-- start sw-rss-feed code --> 
<rssapp-wall id="spnkoPVWt3UjbJUV"></rssapp-wall><script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script>
  </p>
  </center>
</div>
<div class="column" style="background-color:#B33F40;">
  <center>
  <h2>Right-Leaning Sources</h2>
  
  <p><!-- start sw-rss-feed code --> 
  <rssapp-wall id="1NkTrdNQ9biMFkyD"></rssapp-wall><script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script>
<!-- end sw-rss-feed code --></p>
  </center>
 </div>

  
{% endblock %}